.btn {
  margin-right: 10px;
  height: 30px;
  width: 70px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 2px 1px #2e2f4214, 0 1px 1px #2e2f4229, 0 1px 6px #2e2f4214;
  background-color: #fff;
  cursor: pointer;
}
.btnList {
  list-style: none;
  display: flex;
  justify-content: center;
}
